<!DOCTYPE html>
<html>
<head></head>
<body>
    <form action="/tools/moderation/create" method="POST">
        <label>Name:</label>
        <input id="name" name="name">
        <label>Email:</label>
        <input id="email" name="email" type="email">
        <label>Password:</label>
        <input required id="password" name="password" >
        <label>Role:</label>
        <input id="role" name="role">
        <a style="text-decoration: none; color: black; background: #ddd" href="/tools/moderation">Back</a>
        <button type="submit">Create</button>
    </form>
</body>
</html>