<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta lang="us">
    <!-- <link rel="stylesheet" href="../style.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body class="vh-100 d-flex flex-row justify-content-center align-items-center">
    <main>
        <form method="POST" action="/login" class="card px-2 py-3">
            <h4>Login</h4>
            <hr class="mt-0 mb-2">
            <!-- <label>Email</label>
            <input name="email" class="mb-2" type="email" required placeholder="my-email@domen.com"> -->
            <label>Name</label>
            <input name="name" class="mb-2" type="text" required placeholder="name">
            <label>Password</label>
            <input name="password" class="mb-2" type="password" required placeholder="password">
            <p class="text-center pt-2">Do not have an account? <a href="register">Create new one<a></p>
            <div class="text-center">
                <button class="w-25" type="submit">Login</button>
            </div>
        </form>
    </main>
  </body>
</html>