<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta lang="us">
    <!-- <link rel="stylesheet" href="../style.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body class="vh-100 d-flex flex-row justify-content-center align-items-center">
    <main>
        <form method="POST" action="/register" class="card px-5 py-3">
            <h4>Register</h4>
            <hr class="mt-0 mb-2">
            <label>Name</label>
            <input name="name" class="mb-2" type="text" placeholder="Your first name" required>
            <label>Email</label>
            <input name="email" class="mb-2" type="email" placeholder="my-email@domen.com" required>
            <label>Password</label>
            <input name="password" class="mb-2" type="password" placeholder="starting from 8 characters" required>
            <!-- <label>Confirm your password</label>
            <input name="password-confirm" class="mb-2" type="password" placeholder="starting from 8 characters" required> -->
            <p class="text-center pt-2">Already have an account? <a href="login">Login in existing<a></p>
            <div class="text-center">
                <button class="w-25" type="submit">Register</button>
            </div>
        </form>
    </main>
  </body>
</html>